:root {
	--fs-xl: 5rem;
	--fs-l: 3rem;
	--fs-m: 2rem;
	--fs-600: 1.5rem;
	--fs-500: 1.25rem;
	--fs-400: 1rem;

	--clr-accent: #ff5b5b;
	--clr-bg: #e0f7fa;
	--clr-main: #005f5f;
	--clr-text: #212121;
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Varela Round", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

p,
li {
	max-width: 65ch;
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: var(--clr-text);
}

body {
	background-color: white;
	margin-top: 85px;
}

body::-webkit-scrollbar {
	display: none;
}

.highlited-text-orange {
	color: var(--clr-accent);
}

.highlited-text-lightblue {
	color: var(--clr-bg);
}

section {
	padding: 8rem 5rem 20rem;
}
