.header-fix {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	inset: 0 0 auto 0;
	padding: 1em 2em;
	background-color: var(--clr-teal);
	width: 100%;
	z-index: 1000;
}

.site-title-antity {
	font-size: var(--fs-l);
}

.site-title {
	font-size: var(--fs-l);
	font-weight: 700;
}

#about,
#lessons,
#pricing {
	font-size: var(--fs-500);
	font-weight: 400;
	padding: 1em;
}

#book-lesson {
	font-size: var(--fs-400);
	font-weight: 400;
	padding: 0.75em 1em;
	background-color: rgb(251, 248, 239);
	color: var(--clr-orange);
	border: solid 1px var(--clr-orange);
	border-radius: 25px;
}
