.landing-section,
.lessons-section {
	/* background-image: url(/public/Landing_background.webp); */
	background: var(--clr-white);
	background: linear-gradient(
		90deg,
		var(--clr-white) 0%,
		var(--clr-teal) 55%
	);
}

.landing-section h4 {
	font-size: var(--fs-l);
	color: var(--clr-white);
}

.landing-section h1 {
	font-size: var(--fs-xl);
	color: var(--clr-white);
	margin-bottom: 0.25rem;
}
.landing-section p {
	margin-right: 2rem;
	font-size: var(--fs-500);
	color: var(--clr-white);
}

.sign-in-button {
	margin-top: 0.5rem;
	border: none;
	margin-right: 2rem;
	padding: 0.75em 1em;
	font-size: var(--fs-500);
	color: var(--clr-orange);
	background-color: var(--clr-white);
	border-radius: 40px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.221);
}

.about-section {
	display: flex;
	align-items: center;
	gap: clamp(10px, 5vw, 50px);
	justify-content: space-evenly;
}

.about-section a {
	max-width: 600px;
}

.video-thumbnail {
	border-radius: 40px;
	max-width: 100%;
	min-width: 400px;
	height: auto;
}

.about-info {
	font-size: 24px;
	max-width: 700px;
	min-width: 400px;
}

.about-info h1 {
	margin-bottom: 1rem;
	color: var(--clr-teal);
}

.about-info p {
	color: rgb(150, 150, 150);
	font-size: var(--fs-400);
}

.lessons-intro-title {
	font-size: var(--fs-l);
	margin-bottom: 2rem;
	color: var(--clr-white);
}

.lessons-intro-description {
	font-size: var(--fs-500);
	line-height: 30px;
	color: var(--clr-white);
	margin-bottom: 10rem;
}

.lessons-card-container {
	display: flex;
	flex-direction: row;
	overflow: hidden;
}

.lessons-card {
	max-width: 280px;
	min-width: 250px;
	margin-right: 1rem;
	background-color: var(--clr-white);
	padding: 1.5em;
	border-radius: 25px;
}

.lessons-card-info h1 {
	color: var(--clr-teal);
	margin-bottom: 1rem;
}

.lessons-card-info p {
	color: grey;
	margin-bottom: 1rem;
}

.lessons-card-img {
	width: 100%;
	object-fit: contain;
}

.pricing-flex-container {
	display: flex;
	flex-direction: column;
	position: relative;
}

.pricing-hook-img {
	position: absolute;
	right: -10%;
	top: -1%;
	z-index: 100;
}

.pricing-hook-img img {
	width: 80%;
	opacity: 0.7;
}

.pricing-hook-underlay {
	background-color: var(--clr-teal);
	height: 80vh;
	width: auto;
	border-radius: 50px;
	margin-bottom: 30rem;
	z-index: 0;
	display: flex;
	align-items: center;
}

.pricing-hook-title {
	font-size: var(--fs-l);
	flex: 1;
	text-align: center;
}

.pricing-section h1 {
	font-size: var(--fs-xl);
	margin-bottom: 14rem;
	color: var(--clr-teal);
}

.pricing-card-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	gap: 2rem;
}

.pricing-card {
	color: var(--clr-teal);
	border-radius: 30px;
	padding: 1.25em 2em;
	min-width: 300px;
	min-height: 300px;
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.211);
}

.pricing-link-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.pricing-link-row {
	font-size: var(--fs-m);
	margin-bottom: 1em;
}

.pricing-link-row a {
	display: grid;
	place-items: center;
	text-decoration: none;
	color: var(--clr-teal);
	border: solid 2px;
	border-radius: 30px;
	width: 50px;
	height: 50px;
}

.pricing-info-title {
	font-size: var(--fs-400);
	margin-bottom: 1rem;
}
