.landing-countainer {
	/* background-image: url(/public/Landing_background.webp); */
	background: rgb(251, 248, 239);
	background: linear-gradient(
		90deg,
		rgb(251, 248, 239) 0%,
		rgb(128, 203, 196) 75%
	);
}

.landing-countainer,
.about-container,
.lessons-container {
	padding: 150px 100px 200px;
}

.landing-countainer h4 {
	font-size: 28px;
	color: rgb(251, 248, 239);
}

.landing-countainer h1 {
	font-size: 70px;
	color: rgb(251, 248, 239);
}
.landing-countainer p {
	color: rgb(251, 248, 239);
	line-height: 24px;
}

.sign-in-button {
	margin-top: 30px;
	font-size: 23px;
	border: none;
	padding: 16px 30px;
	color: rgb(255, 180, 51);
	background-color: rgb(251, 248, 239);
	border-radius: 40px;
	box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.221);
}

.about-container {
	display: flex;
	align-items: center;
	gap: 200px;
	justify-content: center;
}

.about-container a {
	max-width: 600px;
	min-width: 400px;
}

.video-thumbnail {
	border-radius: 40px;
	max-width: 100%;
	height: auto;
}

.about-info {
	font-size: 24px;
	max-width: 700px;
	min-width: 400px;
}

.about-info h1 {
	margin-bottom: 15px;
	color: rgb(108, 173, 166);
}

.about-info p {
	color: gray;
	font-size: 15px;
	line-height: 28px;
}

.lessons-container {
	background: rgb(251, 248, 239);
	background: linear-gradient(
		90deg,
		rgb(251, 248, 239) 0%,
		rgb(197, 255, 250) 75%
	);

	padding-bottom: 200px;
}

.lessons-intro-title {
	font-size: 50px;
	margin-bottom: 20px;
	color: rgb(108, 173, 166);
}

.lessons-intro-description {
	font-size: 20px;
	line-height: 30px;
	color: grey;
	margin-bottom: 200px;
}

.lessons-card-container {
	display: flex;
	flex-direction: row;
}

.lessons-card {
	width: 250px;
	margin-right: 40px;
	background-color: white;
	padding: 35px 30px;
	border-radius: 50px;
}

.card-info h1 {
	color: rgb(108, 173, 166);
	margin-bottom: 20px;
}

.card-info p {
	color: grey;
	line-height: 24px;
	margin-bottom: 20px;
}

.card-img {
	width: 100%;
	height: 200px;
	object-fit: contain;
}
